section {
  top: 0 !important;
  height: 100% !important;
  padding: 0 !important;

  /* font-size: 25px !important; */
}

pre {
  width: 100% !important;
  text-align: center !important;
}

.main {
  top: 50%;
  transform: translateY(-50%);
}

.content-slide {
  display: flex !important;
  position: relative;
  height: 80%;
}

.side {
  flex: 1;
  margin: auto;
}

.bigger-image {
  /* transform: scale(1.7, 1.7); */
}

.img {
  background: transparent !important;
  border: none !important;
  width: 50%;
  float: left;
  box-shadow: none !important;
}

.hljs {
  color: #272822 !important;
  font-size: 40px;
  background: white !important;
}

.no-keyword > .hljs-keyword, .hljs-attribute, .hljs-literal, .hljs-built_in, .hljs-symbol, .hljs-string {
  color: #272822 !important;
  font-weight: normal !important;
}

.cluster {
  transform: scale(1.7, 1.7);
}

.tip {
  /* position: absolute; */
  font-size: 15px;
  width: 30%;
  background: lightgoldenrodyellow;
  padding: 10px;
  /* bottom: -20%; */
  /* left: -5%; */
  text-align: left;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);

  position: fixed;
  bottom: 0;
}

img {
  background: transparent !important;
  border: none !important;
  box-shadow: none !important;
}

.text {
  width: 50%;
  float: right;
}

.title {
  font-weight: bold;
  color: #316de6;
  font-size: 60px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.text-main--small {
  width: 50%;
  float: right;
  font-size: 24px;
  text-align: right;
  margin-top: 20px;
  margin-right: 25px;
}

.k8s {
  width: 300px;
}
